{% extends 'base.template.html' %} 
{% load cloudinary %} 
{% load crispy_forms_tags %}

{%block content%}
<section class="p-md-5 p-3 row">
  <!-- Display list of products -->
  <div class="col-md-8 col-12">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Item Id</th>
          <th scope="col">Description</th>
          <th scope="col">Quantity</th>
          <th scope="col">Selling Price</th>
          <th scope="col" class="d-none d-md-block">Picture</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for p in products %}
        <tr>
          <th scope="row">{{p.id}}</th>
          <td>{{p.name}}</td>
          <td>{{p.quantity}}</td>
          <td>@{{p.selling_price}}</td>
          <td class="d-none d-md-block">{% cloudinary p.cover width=80 height=80 crop="fill" %}</td>
          <td>
            <a href="{% url 'admin_edit' product_id=p.id %}">
                <i class="far fa-edit text-primary"></i>
            </a> | 
            <a href="{% url 'admin_remove' product_id=p.id %}" class="text-danger"> X remove</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <!-- Entry for new product -->
  <div class="col-md-4 col-12 p-md-5 p-3">
    <div class="border rounded bg-light p-3 row">
        <div class="col-12">
        <a href= "{% url 'admin_add' %}" class="btn btn-light" type="submit">Add product</a>
    </div>
 
        
    </div>
  </div>
</section>
{%endblock%}
