{% extends 'base.template.html' %} 
{% load cloudinary %} 
{% load crispy_forms_tags %}

{%block content%}
<section class="p-md-5 p-3 row">
  <!-- Display list of products -->
  <div class="col-8">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Item Id</th>
          <th scope="col">Description</th>
          <th scope="col">Quantity</th>
          <th scope="col">Selling Price</th>
          <th scope="col">Picture</th>
        </tr>
      </thead>
      <tbody>
        {% for p in products %}
        <tr>
          <th scope="row">{{p.id}}</th>
          <td>{{p.name}}</td>
          <td>{{p.quantity}}</td>
          <td>@{{p.selling_price}}</td>
          <td>{% cloudinary p.pic width=80 height=80 crop="fill" %}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <!-- Entry for new product -->
  <div class="col-4 p-md-5 p-3">
    <div class="border rounded bg-light p-3">
    <form method="POST" action="{% url 'admin_add' %}">
        {% csrf_token %}
        {{ form|crispy}}
        <button class="btn btn-light" type="submit">Add product</button>
        </form>
    </div>
  </div>
</section>
{%endblock%}
