{% extends 'base.template.html' %}
{% load cloudinary %}

{% block content %}
<h1>Your Cart</h1>
{% for key, cart_item in cart.items %}
<div class="card">
    <div class="card-body">
        <div class="card-title">
        <ul>
            <li>Name : {{cart_item.name}}</li> 
            <li>Item Cost : 
            {{ cart_item.cost }}
            </li>
            <li>Quantity : {{cart_item.qty}} 
                <button><a href="{% url 'minus_number' product_id=cart_item.id %}">-</a></button>
                <button><a href="{% url 'add_number' product_id=cart_item.id %}">+</a></button>
            </li>
            <li>Total  : {{cart_item.total_cost}}</li>
            <a class="btn btn-success" href="{% url 'checkout' %}">Checkout</a>
        </ul>
        </div>

        <a class="btn btn-danger btn-sm" href="{% url 'remove_from_cart' product_id=cart_item.id %}">Remove</a>
    </div>
</div>
{%endfor%}

{{product_id}}
<h1>Total: {{total}}</h1>
{%endblock %}