{% extends 'base.template.html' %}
{% load cloudinary %}

{%block content %}
<h1>Your Cart</h1>
{%for key, cart_item in cart.items %}
<div class="card">
    <div class="card-body">
        <div class="card-title">{{cart_item.name}} (${{cart_item.selling_price}})
            <p>
                <form method="POST" action="{% url 'update_cart_quantity_url' product_id=cart_item.id %}">
                    {%csrf_token%}
                    Quantity:
                    <input name="qty" type="text" value="{{cart_item.qty}}" style="width:30px">
                    <input type="submit" class="btn btn-primary btn-sm" value="Update Quantity"/>
                </form>
            </p>
        </div>
        <!-- <a class="btn btn-danger btn-sm" href="{% url 'remove_from_cart_url' product_id=cart_item.id %}">Remove</a>
        <p>Total Cost: {{cart_item.total_cost}}</p> -->
    </div>
</div>
{%endfor%}
<h1>Total: {{total}}</h1>
{%endblock %}