{% extends 'base.template.html' %}
{% load cloudinary %}

{% block content %}
<section class="p-5">
    <h3 class="ls-4"> Get your credit card ready for payment.</h3>
	<table class="table">
		
		<thead>
			<tr>
				<th scope="col">Description</th>
				<th scope="col" class="text-center">Quantity</th>
				<th scope="col" class="text-center d-md-block d-none">Price</th>
				<th scope="col" class="text-center">Total</th>
                <th></th>    
			</tr>
		</thead>
		<tbody>
            
            {% if cart.items|length > 0 %}
			{% for key, cart_item in cart.items %}
			<tr>
				<th>{{cart_item.name}}
                <span class=" d-md-none d-block">( $ {{ cart_item.cost }} )</span>
                </th>
				<td class="text-center">{{cart_item.qty}}</td>
				<td class="text-center d-md-block d-none">$ {{ cart_item.cost }}</td>
				<td class="text-center">$ {{cart_item.total_cost}}</td>
                <td>
                </td>
			</tr>
            {%endfor%}
            {% else %}
            <tr>
                <td colspan="5">There is no item in the cart</td>
            </tr>
            {% endif %}
            <tr>
                <td colspan="2" class="font-weight-bold text-left">Total amount to be charged : </td>
                <td class="d-md-block d-none"></td>
                <td class="text-center"> $ {{ final_total }}</td>
                <td></td>
            </tr>
		</tbody>
	</table>
    <form method="POST">
	{% csrf_token %}
        <script src="https://checkout.stripe.com/checkout.js" class="stripe-button" data-key="{{ key }}"
        data-description="FaskMask"
        data-amount="{{amount}}" 
        data-locale="auto">
    </script>
	<input type='hidden' name='amount' value='{{amount}}'/>
</form>

</section>
{%endblock%}