{% extends 'base.template.html' %}
{% load cloudinary %}

{% block content %}
<section class="p-5">
    <h3 class="ls-4"> {{request.user}}'s' MASKcart Summary</h3>
	<table class="table">
		
		<thead>
			<tr>
				<th scope="col">Description</th>
				<th scope="col">Quantity</th>
				<th scope="col">Price</th>
				<th scope="col">Total</th>
                <th></th>    
			</tr>
		</thead>
		<tbody>
            
            {% if cart.items|length > 0 %}
			{% for key, cart_item in cart.items %}
			<tr>
				<th>{{cart_item.name}}</th>
				<td>
					<a class="badge badge-dark px-2" href="{% url 'minus_number' product_id=cart_item.id %}"> - </a>
                    &nbsp&nbsp {{cart_item.qty}} &nbsp&nbsp
					<a class="badge badge-dark px-2" href="{% url 'add_number' product_id=cart_item.id %}"> + </a>
				</td>
				<td>$ {{ cart_item.cost }}</td>
				<td>$ {{cart_item.total_cost}}</td>
                <td><a class="text-danger font-italic" href="{% url 'remove_from_cart' product_id=cart_item.id %}">X remove</a>
                </td>
			</tr>
            {%endfor%}
            {% else %}
            <tr>
                <td colspan="5">There is no item in the cart</td>
            </tr>
            {% endif %}
		</tbody>
	</table>
    <form method="POST">
	{% csrf_token %}
        <script src="https://checkout.stripe.com/checkout.js" class="stripe-button" data-key="{{ key }}"
        data-description="FaskMask"
        data-amount="{{amount}}" 
        data-locale="auto">
    </script>
	<input type='hidden' name='amount' value='{{amount}}'/>
</form>

</section>
{%endblock%}