html{
font-family: 'Roboto', sans-serif, 'Yanone Kaffeesatz','Lemonada',cursive;
}

.about-img{
  height: 500px;
  width: 500px;
  background: url('/static/img/groceries-safely-exchanging-hands.jpg')no-repeat;
  background-size: cover;
}

.about.row{padding-top:100px}

.welcome-message{font-family:'Lemonada';}

.main-img{
  background: url('/static/img/do-not-panic-tonik-hAZ3TNzQP6w-unsplash.jpg')no-repeat center;
  background-size: contain;
  height: 600px;
  width: 100%;
}