{% extends 'base.template.html'%} 
{%load static%}

{%block title%}About{%endblock%}

{%block content%} 
<div class="about row">
    <div class="about-img col-sm">
    </div>
    <div class="about col-sm">
        <p>We offer variety of face mask in our website injecting element of fun and fashion of wearing a mask, check out <a class="about-link product" href="{% url 'home_route'%}">our product</a>
        </p>
        <br>
        <p>Life have never been the same again due to the pandemic COVI-19, now wearing a mask is necessary as its one form of protection against viral infection if meetup is inevitable.</p><br>
        <p>We believe more people will start to develop the habit of wearing a mask if not feeling well or for protection purpose even after the pandemic is over.</p><br>
    </div>
</div>
{%endblock%}