{% extends 'base.template.html' %}

{%block title%}About theMASKshop{%endblock%}

{%block content%}
<section class='p-5'>
	
	<div class="row">

		<img src="../static/images/mask-square.jpg" class="col-4 img-thumbnail">
		<div class="col ls-2">
            <h2 class="ls-4">About theMASKshop </h2>
			<p>We offer variety of face mask in our website injecting element of fun and fashion of wearing a mask,
				check out <a href="{% url 'home_route'%}" class="badge badge-success p-2">our product</a></p><br/>
			<p>The best face masks for civilians to wear are made of cloth. Leave the surgical masks and N95s for the
				healthcare professionals and essential workers. Besides, designers have been in the fabric-mask game for
				a long time. Billie Eilish wore a Gucci face covering (that’s, uh, probably not CDC approved) to the
				Grammys before the coronavirus was a pandemic in the United States. Fendi, Palm Angels, and Marine Serre
				have all made masks. Christian Siriano turned his business into a mask-making machine for hospitals.</p>
			<br/>
			<p>We believe more people will start to develop the habit of wearing a mask for protection against virus or
				being considerate when one is feeling unwell.</p><br/>
			<p> The demand for masks will increase even after the pandemic is over.</p>
		</div>
	</div>
</section>
{%endblock%}