{% extends 'base.template.html'%} {% load cloudinary %} {%load static %} 
{%block content%}
<div class="row">
  <div class="main-img">
    {% if request.user.is_authenticated %}
    <h6 class="welcome-message">welcome, {{request.user}}</h6>
    {% endif %}
  </div>
</div>

<div class="container mt-4">
  <section class="mt-4 mb-4">
    <h2 class="text-center mt-2"><span>Mask</span></h2>

    <div class="row justify-content-lg-start justify-content-center">
      {% for p in products %}

      <div class="card col-sm-4 col-lg-2 p-0 m-3">
        <div class="product-image w-100 d-flex justify-content-center">
          {% cloudinary p.pic width=160 height=220 crop="fill" %}
        </div>

        <div class="card-body be-light">
          <a href="" class="text-dark text-decoration-none"
            ><h5 class="mb-0 card-title">{{p.title}}</h5></a>
          <p class="text">{{ p.name }}</p>
          <p class="card-text d-inline text-center">
          <strong>${{p.selling_price}}</strong></p>

        </div>
      </div>
      {% endfor %}
    </div>
  </section>
</div>

{%endblock%}
