{% extends 'base.template.html' %} 
{% load cloudinary %} 
{%block content%}
<main>
  <!-- Main image -->
  <div id="hero-div">
    {% if messages %}
    <div class="alert alert-success">
      {% for message in messages %}
      <p>{{ message }}</p>
      {% endfor %}
    </div>
    {% endif %}
  </div>
  <!-- Introduction to the website -->
  <div class="p-5">
    <h2 class="ls-4">IT IS OFFICIAL</h2>
    <p class="ls-2">
      It looks like we’re going to be wearing face masks for a while, which is
      all the more reason to find one that you like. The CDC has been
      recommended. ing that people wear masks when going out in public for
      weeks. must wear masks in public places where social distancing six feet
      is not possible. (Cuomo specified that people would not be jailed for not
      wearing a mask, but fines could be issued.) Similar orders have been
      issued in New Jersey and Puerto Rico, but wearing a fabric mask as a
      civilian is now common sense, provided you can afford and access one. So
      for the foreseeable future, we’ll be wearing masks to the grocery store,
      on walks and runs, and maybe even after the crisis abates. Given the
      prevalence of mask selfies, it’s likely that masks will start to become
      fashion items, rather than merely functional.
    </p>
  </div>
  <!-- Display all products -->
  <div class="row p-3">
    {% for p in products %}
    <div class=" col-sm-12 col-md-6 col-lg-3 p-0 mx-auto p-2 text-center">
      <div class="product-image w-100 d-flex justify-content-center">
        <a href="{% url 'view_details' product_id=p.id %}">
          {% cloudinary p.cover width=200 height=200 crop="fill" %}
        </a>
      </div>

      <div class="card-body be-light">
        <p class="text">{{ p.name }}</p>
        <p class="card-text d-inline text-center">
          <span class="text-danger bg-warning p-2 font-italic mr-2"
            >Enjoy 30% off</span>
          <strong>${{p.selling_price}}</strong>
        </p>
      </div>
    </div>
    {% endfor %}
  </div>
</main>
{%endblock%}
