{% extends 'base.template.html'%} {% load cloudinary %} {%load static %}
{%block content%}
<div class="container">
    <div class="row">
        <div class="col-lg-6 col-10 mx-auto">
        {% cloudinary product.cover class="img-fluid" %}
        </div>
        <div class="col-lg-6 col-10 p-3 text-center mx-auto">
            <p class="p-2">{{product.name}}</p>
            <p class="p-2">${{product.selling_price}}</p>
            <a class="btn btn-info" href="{% url 'add_to_cart' product_id=product.id %}">Add to cart</a>
        </div>   
    </div>
</div>
{%endblock%}